
body {
    background: url("../../kc-images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 600px;
    }
}

@media screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .wrapper {
        width: 600px;
    }
}

.wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header-left > img {
    width: 150%;
    margin-left: -20%;
    margin-bottom: -6%;
}

.title-info {
    margin: 30px 0 0 100px;
}

.title-info span.title {
    font-size: 45px;
    color: #FFF;
    font-weight: bold;
}

.title-info span.director {
    font-size: 20px;
    color: #FFF;
    margin-left: 50px;
}

.title-info form {
    margin-top: 30px;
    margin-left: 55px;
}

.title-info form input {
    line-height: 1.6em;
}

ul.navbar-nav {
    float: none !important;
}

ul.navbar-nav > li {
    width: 12.5%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

ul.nav-pills > li {
    text-align: center;
}

.border {
    width: 95%;
    height: 4px;
    background: #1B779D;
    border: 1px solid #36ACCC;
    margin-left: auto;
    margin-right: auto;
}

.date-session {
    width: 100%;
    background-image: url("../../kc-images/date.png");
    background-size: 100% 100%;
}

.date-session .details {
    padding: 45px;
}

.date-session .details div {
    line-height: 2.0em;
}

.clear {
    clear: both;
}


/* main-page start*/

.center .info h3,
.right .info h3 {
    background: #1B618F;
    font-size: 20px;
    color: #FFF;
    padding: 5px;
    border: 1px solid #23C5D6;
    text-align: center;
    margin-top: 10px !important;
}

.center .info img {
    float: left;
    padding-right: 10px;
    max-height: 160px;
}

.center .info p {
    text-indent: 2em;
    font-size: 16px;
    color: #fff;
}

.notice h3 a {
	float: right;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}

.notice h3 a:hover {
	color: #92B4E8;
}

.notice .details dl dd {
    list-style: none;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-bottom: 1px dashed #ddd;
}

.notice .details dl dd a {
    text-decoration: none;
    font-size: 15px;
    color: #FFF;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice .details dl dd a:hover {
	color: #92B4E8;
}

.notice .details dl dd span {
    font-size: 12px;
    padding-left: 10px;
}

.link .details ul li {
    width: 100%;
    text-align: left;
    padding-top: 10px;
    list-style: none;
}

.link .details ul li a {
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;
}

.link .details ul li a:hover {
	color: #92B4E8;
}

/* main-page end */


/*以下为重写bootstrap的样式*/

.navbar {
    min-height: 40px !important;
}

@media (min-width:768px) {
    .navbar-nav>li>a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

.nav > li > a {
	color: #fff;
}

.nav > li > a:hover {
	color: black;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}
