body {
  background: #13a5a7;
}
header {
  width: 1180px;
  height: 184px;
  background-image: url(../../images/front/logo1.png), url(../../images/front/logo2.jpg);
  background-repeat: no-repeat;
  background-position: left top,left 45px;
  background-color: #FFFFFF;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
header h2 {
  position: absolute;
  left: 540px;
  top: 28px;
  font-size: 44px;
  font-family: "宋体";
  color: #30648c;
  font-weight: bolder;
}
header h3 {
  position: absolute;
  top: 87px;
  font-family: "宋体";
  font-weight: bold;
  right: 225px;
  font-size: 20px;
  color: #30648c;
}
header .headerSearch {
  width: 205px;
  height: 30px;
  position: absolute;
  bottom: 60px;
  right: 0;
}
header .headerSearch #searchInp {
  width: 165px;
  padding-right: 3px;
  height: 30px;
  padding-right: 12px;
  color: #9dbbd5;
  font-size: 14px;
  background: #154c7a;
  border: none;
  float: left;
  padding-left: 12px;
}
header .headerSearch #searchBtn {
  position: absolute;
  right: 0px;
  float: right;
  width: 37px;
  height: 30px;
  background: #0a3559;
  border: none;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
header .headerSearch #searchBtn:hover {
  background: #e09b0f;
}
header .headerMsg {
  width: 190px;
  height: 40px;
  background: #e09b0f;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
nav {
  width: 1180px;
  height: 50px;
  margin: 0 auto;
}
nav ul li {
  box-sizing: border-box;
  height: 49px;
  border-bottom: solid 2px #21bfb9;
  float: left;
  padding: 0 38px;
  text-align: center;
  line-height: 49px;
  box-shadow: 0 0 10px #000;
  font-weight: bold;
  border-right: solid 6px #21bfb9;
  border-bottom: solid 4px #21bfb9 ;
  border-bottom: solid 5px #21bfb9;
  position: relative;
}
nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 14px;
}
nav ul li a span {
  font-size: 12px !important;
  margin-right: 4px;
}
nav ul li div {
  position: absolute;
  left: 0;
  top: 49px;
  width: 180px;
  padding: 0 10px;
  background: #21BFB9;
  display: none;
  z-index: 1;
}
nav ul li div li {
  line-height: 50px;
  border-bottom: solid 1px #13a5a7;
  font-size: 15px;
  color: #a7c3db;
  width: 100%;
  box-shadow: none;
  background: linear-gradient(bottom, red, #fff);
}
nav ul li div li a {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
nav .first-li {
  border-top: solid 4px #e09b0f;
  background: #21bfb9;
}
nav .item1:hover {
  background: #21BFB9 ;
}
nav .item2:hover {
  background: #21BFB9 ;
}
nav .item3:hover {
  background: #21BFB9 ;
}
nav .item4:hover {
  background: #21BFB9 ;
}
nav .item5:hover {
  background: #21BFB9 ;
}
nav .item1:hover .item1-menu {
  display: block;
}
nav .item2:hover .item2-menu {
  display: block;
}
nav .item3:hover .item3-menu {
  display: block;
}
nav .item4:hover .item4-menu {
  display: block;
}
nav .item5:hover .item5-menu {
  display: block;
}
.main {
  width: 1180px;
  min-height: 897px;
  box-sizing: border-box;
  padding: 30px 10px 0 10px;
  background: #ffffff;
  margin: 0 auto;
  border-top: solid 12px #13a5a7;
  overflow: hidden;
  position: relative;
}
.main .left {
  width: 226px ;
  min-height: 854px ;
  float: left;
  padding-right: 20px;
}
.main .left .leftnav {
  width: 100%;
  height: 490px;
  padding-bottom: 10px;
}
.main .left .leftnav ul {
  box-sizing: border-box;
  padding-top: 16px ;
}
.main .left .leftnav ul li {
  box-sizing: border-box;
}
.main .left .leftnav ul li a {
  line-height: 36px;
  font-size: 14px;
  color: #acac7f;
  font-weight: bold;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px dashed #666666;
  text-align: center;
  color: #666666;
}
.main .left .leftnav ul li .firsta {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.main .left .leftnav ul li a:hover {
  background: #21BFB9 ;
  font-size: 18px;
}
.main .left .calendar-container {
  margin-top: 10px;
}
.main .center {
  width: 670px;
  min-height: 854px;
  float: left;
  padding-right: 20px !important;
  position: relative;
}
.main .center .bottom-fy {
  position: absolute;
  left: 50%;
  bottom: 0.6rem;
  transform: translateX(-50%);
}
.main .center .bottom-fy li {
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  color: #fff;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.2rem;
}
.main .center .bottom-fy li .activeli {
  background: #e09b0f;
}
.main .center .main-info {
  min-height: 370px;
}
.main .center .main-info .box {
  min-height: 337px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 12px;
}
.main .center .main-info .box .imgbox {
  width: 268px;
  height: 186px;
  padding: 11px 22px 22px 7px;
  overflow: hidden ;
  float: left;
}
.main .center .main-info .box .imgbox img {
  width: 100%;
  height: auto;
  display: block;
}
.main .center .main-info .box p {
  font-size: 14px;
  color: #333333;
  line-height: 28px;
  text-indent: 28px;
}
.main .right {
  width: 224px;
  min-height: 854px;
  float: left;
}
.main .right .right-info {
  height: 370px;
  box-sizing: border-box;
  position: relative;
}
.main .right .right-info .more01 {
  position: absolute;
  top: 26px;
  right: 0;
  color: #000;
  font-size: 30px;
  cursor: pointer;
}
.main .right .right-info ul {
  padding-top: 14px;
}
.main .right .right-info li {
  padding-bottom: 16px;
  padding-top: 10px;
  border-bottom: solid #efece1 1px;
}
.main .right .right-info li a {
  line-height: 22px;
  font-size: 14px;
  color: #284e6c;
}
.main .right .right-info li p {
  font-size: 10px;
  color: #999999;
  padding-top: 5px;
}
.main .right .right-teach {
  height: 260px;
}
.main .right .right-link {
  margin-top: 20px;
  min-height: 200px !important;
}
.main .right .right-link ul {
  padding-left: 22px;
}
.main .right .right-link ul li {
  list-style-type: disc ;
  border: none;
  padding: 0;
}
.main .right .right-link ul li a {
  line-height: 27px;
  color: 333333;
  font-size: 14px ;
}
.main .main-bottom {
  width: 1180px;
  height: 1px;
  background: #efece1;
  position: absolute;
  left: 0;
  bottom: 32px ;
}
.maintitle {
  padding-left: 9px;
  line-height: 33px;
  color: #FFFFFF;
  font-size: 14px;
  background: #23b6b4;
}
.teacherShow {
  width: 1180px;
  height: 256px;
  margin: 0 auto;
}
.teacherShow .teach-box {
  width: 100%;
  height: 223px;
  box-sizing: border-box;
  padding: 26px 10px;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.teacherShow .teach-box .teach-lb {
  width: 3000px;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 26px;
}
.teacherShow .teach-box .teach-lb .teachImg-box {
  width: 144px;
  height: 179px ;
  float: left;
  margin-right: 19px;
  cursor: pointer;
}
.teacherShow .teach-box .teach-lb .teachImg-box img {
  display: block;
  width: 130px;
  height: 130px;
  padding: 6px;
  border: solid 1px #ede9dd;
}
.teacherShow .teach-box .teach-lb .teachImg-box span {
  display: block;
  width: 144px;
  font-size: 16px;
  color: #666666;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
footer {
  width: 1180px;
  height: 73px ;
  margin: 0 auto;
  background: #23b6b4;
  padding-top: 20px;
  position: relative;
}
footer p {
  padding-left: 9px;
  line-height: 19px;
  color: #3a658e;
}
footer p span {
  color: #FFFFFF;
  font-size: 12px;
}
a:hover {
  text-decoration: underline;
}

.wlLeft{
	float: left !important;	
}

.wlmain {
 float:right;
 margin-top: -8px;
 width:910px;
}

.wlmain p {
  float: left;
  width: 875px;
  line-height: 36px;
  font-size: 16px;
  padding-right: 50px;
}
.wlmain p a {
  font-size: 16px;
  float: left;
}
.wlmain p .wlmain_alink {
  float: right;
}
.wlmain .fyBtn {
  position: absolute;
  bottom: 10px;
  box-sizing: border-box;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
}
.wlmain .fyBtn a {
  float: left;
  width: 50px;
  height: 30px;
  background: #21BFB9;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
  color: #fff;
  margin: 0 auto;
}
.wlfooter {
  width: 210px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 20px;
  background: url(../../images/front/hj.png) no-repeat left top;
  background-size: 100% 100%;
}
.leftnav_active {
  background: #21BFB9 !important;
  font-size: 18px !important;
}
